version: '3.8'

services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    command: redis-server

  app:
    image: arunhiremath92/urlshortener:v0.3
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - REDIS_ADDRESS=redis:6379